@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* Shared style */
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary-button, .secondary-button{
    border-radius: 8px;
    background-color: #FF900E;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
    
}

header{
    padding: 50px 240px;
    background-color: rgba(255, 144, 14, 0.10);
}

/* Navigation related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 2rem;
}

/*Banner related style*/
.banner-contant{
    max-width: 800px;
    margin: 80px auto 0;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;
}
.banner-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
}
.banner-img{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

/*Teams Section Design*/
main{
    padding: 0 240px;
}
.teams{
    display: flex;
    align-items: center;
    margin: 50px auto;
    max-width: 1440px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}
.team-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.team-contant > h3{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.team-contant > h3 > .our{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.team-contant > h3 > .featur{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.teams-discription{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    padding: 24px 0 32px 0;
}

/*Features section Design*/
.features{
    display: flex;
    gap: 100px;
    margin: 100px 0;
}

.features-titel{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.features-discription{
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
}
.topic > div{
    padding: 30px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.topic > div > h4{
    color:  #131313;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.topic > div > p{
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
}


/*Facts Section Design*/
.fact-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 24px;
}
.facts-discription{
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}


/*Responsive for Mobile device*/
@media screen and (max-width: 700px) {
    header{
        padding: 20px;
    }
    nav, .teams{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-contant{
        margin-top: 30px;
    }
}

/*Responsive for Medium Device*/
@media only screen and (min-width: 700px) and (max-width: 992px) {
    header{
        padding: 20px 50px;
    }
    nav, .teams{
        flex-direction: column;
    }
    .team-contant{
        margin-top: 30px;
    }
}