@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* Shared style */
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary-button{
    border-radius: 8px;
    background-color: #FF900E;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
    
}

header{
    padding: 50px 240px;
    background-color: rgba(255, 144, 14, 0.10);
}

/* Navigation related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 2rem;
}

/*Banner related style*/
.banner-contant{
    max-width: 800px;
    margin: 80px auto 0;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;
}
.banner-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
}
.banner-img{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

/*Feature Section Design*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.features{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}
.team-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.team-contant > h3{
    color: #727272;
    width: 468px;
    font-size: 2.8rem;
    font-weight: 500;
}
.team-contant > h3 > .our{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.team-contant > h3 > .featur{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.teams-discription{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    padding: 24px 0 32px 0;
}


/*Responsive for Mobile device*/
@media screen and (max-width: 700px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

/*Responsive for Medium Device*/
@media only screen and (min-width: 700px) and (max-width: 992) {
    header{
        padding: 20px 50px;
    }
}